<!doctype html>
<html>
    <head>
        <title>Taskitte -- {% block title %}{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/scripts.js"></script>
        {% endblock styles %}
    </head>
    <body>
        <div id="container">
        <div id="header">
        <h1>{% block headertitle %}Hello, everyone!{% endblock headertitle %}</h1>
        </div>
        <div id="content">
        
        {% block content %}
           <h2>Welcome to the base template.</h2>
        {% endblock content %}
        </div>
        
        </div>
        <div id="footer">
        {% block footer %}
        {% endblock footer %}
        </div>
        </div>
    </body>
</html>