{% extends 'base.html' %}
    {% block title %}
    {{list_name}}
    {% endblock title %}
    
    {% block headertitle %}
    {{list_name}}
    {% endblock headertitle %}

    {% block content %}
        
        <div class="list">
            {% for task in tasks %}
            <div class="task">
                <div class="task-buttons">
                    <div class="button first-claim">Claim me!</div>
                </div>
                <div class="task-contents">
                <h4 class="task-name">{{task.name}}</h4>
                    {% if task.description or task.even_more_info %}
                    <div class="more">
                    <a class="get-more">more &raquo;</a>
                        <div class="more-contents">
                        {% if task.description %}
                            {{task.description}}
                        {% endif %}
                        {% if task.even_more_info %}
                            <br/>
                            More info: <a class="even-more" href="{{task.even_more_info}}">{{task.even_more_info}}</a>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                <span class="contact">Lead contact: <a href="mailto:{{task.contact_email}}">{{task.contact_name}}</a></span>
                </div>
                
            </div>
            {% endfor %}
            
        </div>
     {% endblock content %}